img{
    width: 100%;
}

.thumb img{
    height: calc(600px / 5);
}

.item{
    position: relative;
    display: none;
}

.item.active{
    display: block;
}

.item img{
    height: 600px;
}

.text{
    position: absolute;
    bottom: 0;
    right: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.text h1{
    font-size: 25px;
}



.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row{
    max-height: 600px;
}

.thumb{
 position: relative;
}

#up{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%);
}

#down{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
}