img{
    width: 100%;
}

.carousel img{
    height: calc(600px / 5);
}

.primary_img{
    position: relative;
}

.primary_img img{
    height: 600px;
}

.description{
    position: absolute;
    bottom: 0;
    right: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.description h1{
    font-size: 25px;
}



.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row{
    max-height: 600px;
}